################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SGV-CLP/obj
/.vs
/SGV-CLP/bin/Debug/net7.0-windows
/SGV_CLP/bin/Debug
/SGV_CLP/obj/Debug
SGV-CLP/.vs/SGV-CLP/FileContentIndex/32469a90-1f5a-4fa1-99a2-ddfba52c6d31.vsidx
SGV-CLP/.vs/SGV-CLP/FileContentIndex/9342e068-6897-44ff-beab-feb7afd13d57.vsidx
SGV-CLP/.vs/SGV-CLP/FileContentIndex/512725eb-ddae-4eef-92fe-9cadf9e1880d.vsidx
SGV-CLP/.vs/SGV-CLP/FileContentIndex/e9cfc933-3143-4e9e-a1ad-40fd7c8a3d8d.vsidx
SGV-CLP/.vs/SGV-CLP/FileContentIndex/ee0e7a26-d666-4e15-8e6a-9518ba8a5b5f.vsidx
