################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SGV-CLP/obj
/SGV-CLP/.vs
/.vs
/SGV-CLP/bin
